@charset "UTF-8";
/* CSS Document */

html {
	font-family: sans-serif;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	width: 100%;
	margin: 0;
	padding: .5rem;
}

.main {
	margin: 1rem;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.img-flex {
max-width: 100%;
}

figcaption {
	width: 100%;
}

h1 {
	color: #DC143C;
	padding-left: .5rem;
}

dl {
	overflow: hidden;
}

dt {
	float:left;
	clear: left;
	width: 8rem;
}

dd {
	float: left;
	margin: 0;
	padding: 0;
}
